spring:
  datasource:
    url: jdbc:mysql://192.168.0.89:3306/d_eagle3_hunan_rvm_rvm?allowMultiQueries=true&useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true
    username: d_eagle3_hunan_rvm_rvm
    password: Dfdb19c
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
    druid:
      initial-size: 5
      max-active: 20
      min-idle: 5
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      max-evictable-idle-time-millis: 900000
      validation-query: SELECT 1
      test-while-idle: true
      filter:
        stat:
          db-type: mysql


logging:
  level: { org.springframework: INFO , org.springframework.web: DEBUG}